.category-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
  margin-top: 24px;
}

.employment-type-list-class {
  margin: 10px 0px 10px 0px;
}
.checkbox-label {
  color: #ffffff;
  margin-left: 10px;
}
.filter-line-separator {
  color: white;
  width: 100%;
  margin: 10px 0px 10px 0px;
}
